<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20191128heisedi_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,669},{218,220}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{218,220}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>202002fhkl_547268_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,577},{112,144}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{112,144}}</string>
                <key>sourceSize</key>
                <string>{162,226}</string>
            </dict>
            <key>202002fhkl__875229_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,666},{24,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>202002fhkl_bwl_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,314},{258,217}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{258,217}}</string>
                <key>sourceSize</key>
                <string>{270,221}</string>
            </dict>
            <key>202002fhkl_lujin1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{336,195}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{336,195}}</string>
                <key>sourceSize</key>
                <string>{358,195}</string>
            </dict>
            <key>202002fhkl_tubiaoqz_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,577},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>202002fhkl_wutai01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{1038,310}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{1038,310}}</string>
                <key>sourceSize</key>
                <string>{1078,340}</string>
            </dict>
            <key>TXY6CH_meiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,322},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>TXY6CH_meiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,322},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>TXY6CH_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,654},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>TXY6CH_shou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,666},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>TXY6CH_shou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,635},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>TXY6CH_shou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,654},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>TXY6CH_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,314},{245,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,234}}</string>
                <key>sourceSize</key>
                <string>{245,234}</string>
            </dict>
            <key>TXY6CH_xiaobiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,666},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>TXY6CH_xiaobiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,537},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>TXY6CH_yanR03.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,322},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>TXY6CH_zui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,314},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>TXY6ZB_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,648},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>TXY6ZB_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,572},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>TXY6ZC_yan_fay.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,415},{25,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,65}}</string>
                <key>sourceSize</key>
                <string>{25,65}</string>
            </dict>
            <key>XBL2019_CH_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,322},{35,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,12}}</string>
                <key>sourceSize</key>
                <string>{35,12}</string>
            </dict>
            <key>XBL2019_CH_er_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,606},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>XBL2019_CH_fa_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,561},{85,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,125}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>XBL2019_CH_lian_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,577},{229,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,198}}</string>
                <key>sourceSize</key>
                <string>{229,198}</string>
            </dict>
            <key>XBL2019_CH_shen_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,577},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>XBL2019_ZH_normalzui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,561},{72,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,30}}</string>
                <key>sourceSize</key>
                <string>{72,30}</string>
            </dict>
            <key>XBL2019_ZH_normalzui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,654},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>XBL2019_ZH_zui_01_hey2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,336},{77,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,25}}</string>
                <key>sourceSize</key>
                <string>{77,25}</string>
            </dict>
            <key>XBL2019_banwen_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,648},{49,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{49,37}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>XBL2019_banwen_tui_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,314},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>XBL2019_foot_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,654},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>XBL2019_hand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,654},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>XBL2019_hand_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,654},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>XBL2019_hand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,482},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>XBL2019_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,314},{48,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,20}</string>
            </dict>
            <key>XBL2019_mei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,515},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>XBL2019_wei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,314},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>XBL2019_yan_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,314},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
            <key>XBL2019_yan_R_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,314},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>XBL_PK_shifaguangxian2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{322,328}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{322,328}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>cctx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,549},{118,186}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{118,186}}</string>
                <key>sourceSize</key>
                <string>{168,208}</string>
            </dict>
            <key>cctx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,808},{214,197}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{214,197}}</string>
                <key>sourceSize</key>
                <string>{242,217}</string>
            </dict>
            <key>cctx_quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,314},{91,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,20}}</string>
                <key>sourceSize</key>
                <string>{91,20}</string>
            </dict>
            <key>fdsaffdfsa_sj12_bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,666},{24,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gui_sjl.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{301,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{301,198}}</string>
                <key>sourceSize</key>
                <string>{305,202}</string>
            </dict>
            <key>jl_guge_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,347},{343,190}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{343,190}}</string>
                <key>sourceSize</key>
                <string>{361,202}</string>
            </dict>
            <key>jl_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,322},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>kcmf_TXYNA_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,891},{120,119}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{120,119}}</string>
                <key>sourceSize</key>
                <string>{184,157}</string>
            </dict>
            <key>kcmf_TXYNA_shu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,666},{23,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,92}}</string>
                <key>sourceSize</key>
                <string>{23,94}</string>
            </dict>
            <key>lgjb_longwangbs_g5b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,692},{328,273}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,43},{328,273}}</string>
                <key>sourceSize</key>
                <string>{372,347}</string>
            </dict>
            <key>lgjb_longwangbs_g6b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{343,289}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{343,289}}</string>
                <key>sourceSize</key>
                <string>{373,333}</string>
            </dict>
            <key>lgjb_longwangbs_g7b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,301}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{343,301}}</string>
                <key>sourceSize</key>
                <string>{373,333}</string>
            </dict>
            <key>lgjb_pk_tx04_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,691},{311,274}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{311,274}}</string>
                <key>sourceSize</key>
                <string>{325,294}</string>
            </dict>
            <key>rwl_xq_guang3_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,340},{324,185}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{324,185}}</string>
                <key>sourceSize</key>
                <string>{342,189}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang2_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,336},{260,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,316}}</string>
                <key>sourceSize</key>
                <string>{260,316}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang3_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,691},{309,310}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{309,310}}</string>
                <key>sourceSize</key>
                <string>{311,310}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang4_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{302,318}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{302,318}}</string>
                <key>sourceSize</key>
                <string>{310,330}</string>
            </dict>
            <key>sj12_bf_xxtx_shanguang6_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,691},{319,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{319,215}}</string>
                <key>sourceSize</key>
                <string>{321,217}</string>
            </dict>
            <key>sjl_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,322},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>sjl_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,305},{270,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,198}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>sjl_wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,577},{112,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,168}}</string>
                <key>sourceSize</key>
                <string>{112,168}</string>
            </dict>
            <key>wodegeguigui_mov.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,336},{239,239}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{239,239}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>yansan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,891},{131,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,97}}</string>
                <key>sourceSize</key>
                <string>{131,97}</string>
            </dict>
            <key>yfge_tx_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,808},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,214}}</string>
                <key>sourceSize</key>
                <string>{220,214}</string>
            </dict>
            <key>yw_y_488011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,314},{186,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,233}}</string>
                <key>sourceSize</key>
                <string>{186,233}</string>
            </dict>
            <key>yw_y_933057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,690},{218,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{218,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc4167435cb4d270f4877f3962fa75de:2/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios1.png</string>
        </dict>
    </dict>
</plist>
