<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>202002fhkl_jdta_tub_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{147,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,32}}</string>
                <key>sourceSize</key>
                <string>{147,32}</string>
            </dict>
            <key>202002fhkl_shitou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{113,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,147}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>202002fhkl_shitou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,102},{113,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,149}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>202002fhkl_shitou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,217},{113,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,147}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>202002fhkl_xiaza_tub_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,796},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>202002fhkl_xiazls_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{147,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,32}}</string>
                <key>sourceSize</key>
                <string>{147,32}</string>
            </dict>
            <key>TXY6CH_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{139,98}}</string>
                <key>sourceSize</key>
                <string>{141,102}</string>
            </dict>
            <key>TXY6CH_dabiL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,772},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>TXY6CH_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,158},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>TXY6CH_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,843},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>TXY6CH_shou07.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,631},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>TXY6CH_shou07a.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,663},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>TXY6CH_shou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,538},{35,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,31}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>TXY6CH_shou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,571},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>TXY6CH_shou22.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,509},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>TXY6CH_tun.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,614},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>TXY6CH_yanL05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,639},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,65}}</string>
                <key>sourceSize</key>
                <string>{46,65}</string>
            </dict>
            <key>TXY6CH_yanR.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,732},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>TXY6CH_yanR02.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,658},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>TXY6CH_yanR10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,799},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>TXY6ZB_beibao_dakai_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,73},{149,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>TXY6ZB_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,614},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>TXY6ZB_tun.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,709},{98,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
            <key>TXY6ZC_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{69,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{71,98}</string>
            </dict>
            <key>TXY6ZC_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,593},{31,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,71}}</string>
                <key>sourceSize</key>
                <string>{31,71}</string>
            </dict>
            <key>XBL2019_CH_chujiao_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,469},{46,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,96}}</string>
                <key>sourceSize</key>
                <string>{46,96}</string>
            </dict>
            <key>XBL2019_CH_er_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,603},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>XBL2019_CH_fa_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{69,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,159}}</string>
                <key>sourceSize</key>
                <string>{69,159}</string>
            </dict>
            <key>XBL2019_CH_shoubi_X_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,291},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>XBL2019_CH_tui_S_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,203},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>XBL2019_wei01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,796},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>XT_sj_fpp5_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{90,86}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,51},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>XT_sj_fpp6_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,930},{90,86}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>XT_sj_fpp8_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,930},{88,84}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,67},{88,84}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bwl_shenti_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>bwl_shou_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,866},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>bwl_tou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,328},{147,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,94}}</string>
                <key>sourceSize</key>
                <string>{147,94}</string>
            </dict>
            <key>bwl_xiaotui_hou_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{70,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,99}}</string>
                <key>sourceSize</key>
                <string>{70,99}</string>
            </dict>
            <key>bwl_xiaotui_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,666},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>bwl_yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,477},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>cctx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,203}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,4},{154,203}}</string>
                <key>sourceSize</key>
                <string>{242,221}</string>
            </dict>
            <key>cctx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,332},{146,143}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{146,143}}</string>
                <key>sourceSize</key>
                <string>{170,167}</string>
            </dict>
            <key>jl_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,188},{138,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,148}}</string>
                <key>sourceSize</key>
                <string>{138,148}</string>
            </dict>
            <key>jl_houtui_z_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{103,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,93}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>jl_houtui_z_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,725},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>jl_qiantui_z_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,841},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>jl_yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,578},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>jl_yanjing_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,624},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>jl_zuiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,567},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>rtoptfy111111.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,796},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sj12_bf_guangqiu_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,668},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>sj12_bf_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,324},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>sj12_bf_xx_bgxc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,527},{85,128}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{85,128}}</string>
                <key>sourceSize</key>
                <string>{111,156}</string>
            </dict>
            <key>sjl_hou_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,578},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>sjl_hou_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,706},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>sjl_hou_tt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,247},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>sjl_yanjing_mov1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,373},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>sjl_yanjing_mov1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,421},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>yansan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,477},{133,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,99}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>yansan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>yansan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,424},{136,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,101}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>yfge_tx5_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{148,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{148,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc4167435cb4d270f4877f3962fa75de:4/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios3.png</string>
        </dict>
    </dict>
</plist>
