<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>202002fhkl_duihou_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,333},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>202002fhkl_lujin2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{504,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,106}}</string>
                <key>sourceSize</key>
                <string>{504,106}</string>
            </dict>
            <key>202002fhkl_lujin3_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{391,306}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,306}}</string>
                <key>sourceSize</key>
                <string>{407,306}</string>
            </dict>
            <key>202002fhkl_lujin_wutai02a_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,101},{189,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,135}}</string>
                <key>sourceSize</key>
                <string>{189,135}</string>
            </dict>
            <key>202002fhkl_lujin_yinyinga_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{499,596}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{499,596}}</string>
                <key>sourceSize</key>
                <string>{501,600}</string>
            </dict>
            <key>202002fhkl_shitou_2_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,462},{136,232}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{136,232}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_shitou_3_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,615},{136,170}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{136,170}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>PK_shifaguangxian_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,600},{409,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,409}}</string>
                <key>sourceSize</key>
                <string>{409,409}</string>
            </dict>
            <key>TXY6CH_beidaiLS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,615},{28,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{28,59}</string>
            </dict>
            <key>TXY6CH_beidaiLX.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1011},{11,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,42}}</string>
                <key>sourceSize</key>
                <string>{11,42}</string>
            </dict>
            <key>TXY6CH_beidaiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,397},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>TXY6CH_dabiL02.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,397},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>TXY6CH_datuiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,397},{62,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>TXY6CH_liuhai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,899},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>TXY6CH_shou15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,615},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>TXY6CH_shou17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,615},{38,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{38,28}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>TXY6CH_toumaozia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,596},{348,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,208}}</string>
                <key>sourceSize</key>
                <string>{348,208}</string>
            </dict>
            <key>TXY6CH_toumaozib.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{348,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,97}}</string>
                <key>sourceSize</key>
                <string>{348,97}</string>
            </dict>
            <key>TXY6CH_yanL03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,692},{58,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,16}}</string>
                <key>sourceSize</key>
                <string>{58,16}</string>
            </dict>
            <key>TXY6CH_yanL06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{53,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,17}}</string>
                <key>sourceSize</key>
                <string>{53,17}</string>
            </dict>
            <key>TXY6CH_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1011},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
            <key>TXY6CH_zui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,596},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>TXY6ZC_liuhai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,946},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>TXY6ZC_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,75},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>TXY6ZC_tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,101},{231,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,230}}</string>
                <key>sourceSize</key>
                <string>{231,230}</string>
            </dict>
            <key>XBL2019_CH_chujiao_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,395},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>XBL2019_CH_fa_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,946},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>XBL2019_CH_fa_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,548},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>XBL2019_CH_lian_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,787},{235,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,101}}</string>
                <key>sourceSize</key>
                <string>{235,101}</string>
            </dict>
            <key>XBL2019_CH_normalzui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1011},{78,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,9}}</string>
                <key>sourceSize</key>
                <string>{78,11}</string>
            </dict>
            <key>XBL2019_CH_normalzui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,861},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>XBL2019_CH_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,946},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>XBL2019_CH_shoubi_X_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,462},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>XBL2019_CH_tui_S_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,972},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>XBL2019_O_tuiguanjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,468},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>XBL2019_ZH_happyzui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1011},{60,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,11}}</string>
                <key>sourceSize</key>
                <string>{60,13}</string>
            </dict>
            <key>XBL2019_ZH_tui_X_hey4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,963},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>XBL2019_banwen_shou_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1011},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>XBL2019_banwen_shou_00_heykong.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-4,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>XBL2019_banwen_shou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,57},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>XBL2019_foot_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,333},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>XBL2019_foot_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,548},{53,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,65}}</string>
                <key>sourceSize</key>
                <string>{53,65}</string>
            </dict>
            <key>XBL2019_foot_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,477},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>XBL2019_hand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,615},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>XBL2019_hand_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,615},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>XBL2019_hand_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,615},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>XBL2019_yan_L_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,972},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>XBL2019_yan_L_fay07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,333},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>XBL2019_yan_R_07_e_hey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,333},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>XBL2019_yan_R_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,972},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>XBL2019_yan_R_fay07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,333},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>bwl_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,519},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>bwl_tou_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,548},{121,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,65}}</string>
                <key>sourceSize</key>
                <string>{121,65}</string>
            </dict>
            <key>bwl_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,508},{140,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>bwl_xiaotui_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,546},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>cctx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,333},{213,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{213,194}}</string>
                <key>sourceSize</key>
                <string>{251,222}</string>
            </dict>
            <key>dan_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,2},{329,293}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,49},{329,293}}</string>
                <key>sourceSize</key>
                <string>{379,379}</string>
            </dict>
            <key>gqj_dhk_yun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,462},{181,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,136}}</string>
                <key>sourceSize</key>
                <string>{181,136}</string>
            </dict>
            <key>gui_bwl.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{414,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{414,312}}</string>
                <key>sourceSize</key>
                <string>{418,316}</string>
            </dict>
            <key>gui_jl.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{393,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{393,162}}</string>
                <key>sourceSize</key>
                <string>{397,166}</string>
            </dict>
            <key>jl_qiantui_z_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,944},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>jl_weiba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,944},{128,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,78}}</string>
                <key>sourceSize</key>
                <string>{128,78}</string>
            </dict>
            <key>jl_zhenti_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,397},{200,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,218}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>kgy_jb_tx_hecehng_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,600},{409,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,409}}</string>
                <key>sourceSize</key>
                <string>{409,409}</string>
            </dict>
            <key>kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>kong_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>lgjb_kong_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>lgjb_pk_tx02_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,645},{237,297}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,297}}</string>
                <key>sourceSize</key>
                <string>{241,299}</string>
            </dict>
            <key>menu_egg_ef01_li1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1011},{10,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>menu_egg_guang_sjbx_xingguangli2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>sj12_bf_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,946},{24,25}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{24,25}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sj12_bf_shanshan_tx_tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-24.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang5_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,599},{302,371}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{302,371}}</string>
                <key>sourceSize</key>
                <string>{308,373}</string>
            </dict>
            <key>sjl_dt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,395},{199,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,196}}</string>
                <key>sourceSize</key>
                <string>{199,196}</string>
            </dict>
            <key>sjl_dt21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,395},{199,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,196}}</string>
                <key>sourceSize</key>
                <string>{199,196}</string>
            </dict>
            <key>sjl_gjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,972},{49,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,132}}</string>
                <key>sourceSize</key>
                <string>{49,132}</string>
            </dict>
            <key>sjl_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,752},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>sjl_qian_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,787},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>sjl_yanjing_mov1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,645},{45,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,17}}</string>
                <key>sourceSize</key>
                <string>{45,17}</string>
            </dict>
            <key>sjl_zui_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,519},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>wanshengjie_ghost06_tongue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,395},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>wanshengjie_ghost06_tongue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,972},{50,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
            <key>xt_rsxz_tx5a_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{298,458}}</string>
                <key>offset</key>
                <string>{-75,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,306},{298,458}}</string>
                <key>sourceSize</key>
                <string>{764,764}</string>
            </dict>
            <key>yansan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,395},{122,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,83}}</string>
                <key>sourceSize</key>
                <string>{122,83}</string>
            </dict>
            <key>yansan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,292},{135,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,101}}</string>
                <key>sourceSize</key>
                <string>{135,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc4167435cb4d270f4877f3962fa75de:1/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios0.png</string>
        </dict>
    </dict>
</plist>
