<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>202002fhkl_duihou_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,438},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TXY6CH_dabiL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>TXY6CH_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>TXY6CH_tun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>TXY6CH_yanL.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,73},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>TXY6CH_yanL10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,386},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>TXY6ZB_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,104}}</string>
                <key>sourceSize</key>
                <string>{93,104}</string>
            </dict>
            <key>TXY6ZB_tun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{98,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
            <key>TXY6ZC_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,268},{69,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{71,98}</string>
            </dict>
            <key>bwl_shenti_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,169},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>bwl_xiaotui_hou_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,97},{70,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,99}}</string>
                <key>sourceSize</key>
                <string>{70,99}</string>
            </dict>
            <key>jl_houtui_z_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{101,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>jl_qiantui_z_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>sj12_bf_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,241},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>sjl_hou_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,339},{61,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,88}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
            <key>sjl_hou_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>sjl_yanjing_mov1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,290},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>sjl_yanjing_mov1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,338},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>wanshengjie_ghost06_tongue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,143},{50,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f8c834ef5b63a559df7fa2a5394b9fa:4/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios3.png</string>
        </dict>
    </dict>
</plist>
