<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>200125wf_hongbao_wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{224,151}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{224,151}}</string>
                <key>sourceSize</key>
                <string>{242,181}</string>
            </dict>
            <key>20191128heisedi_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,545},{218,220}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{218,220}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>202002fhkl_bwl_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,551},{258,217}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{258,217}}</string>
                <key>sourceSize</key>
                <string>{270,221}</string>
            </dict>
            <key>202002fhkl_diying.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{232,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,66}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>202002fhkl_logo1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,786},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_logo2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,247},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_logo3_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,545},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_lujin_wutai02a_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,757},{189,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,135}}</string>
                <key>sourceSize</key>
                <string>{189,135}</string>
            </dict>
            <key>202002fhkl_shitou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,549},{113,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,149}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>202002fhkl_tubiaomf_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,542},{113,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>TXY6CH_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,657},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{139,98}}</string>
                <key>sourceSize</key>
                <string>{141,102}</string>
            </dict>
            <key>TXY6CH_dabiL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,978},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>TXY6CH_dabiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,978},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>TXY6CH_dabiR01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,978},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>TXY6CH_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,495},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>TXY6CH_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,105},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>TXY6CH_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,249},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>TXY6CH_shou07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,987},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>TXY6CH_shou07a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,987},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>TXY6CH_shou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,987},{35,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,31}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>TXY6CH_shou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,987},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>TXY6CH_shou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,249},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>TXY6CH_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{245,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,234}}</string>
                <key>sourceSize</key>
                <string>{245,234}</string>
            </dict>
            <key>TXY6CH_tun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,204},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>TXY6CH_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,987},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>TXY6CH_yanL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,980},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>TXY6CH_yanL05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,946},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,65}}</string>
                <key>sourceSize</key>
                <string>{46,65}</string>
            </dict>
            <key>TXY6CH_yanL10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,946},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>TXY6CH_yanR10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,987},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>TXY6ZB_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,754},{149,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,103}}</string>
                <key>sourceSize</key>
                <string>{149,103}</string>
            </dict>
            <key>TXY6ZB_beibao_dakai_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,423},{149,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>TXY6ZB_beibao_dakai_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,391},{149,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,160}}</string>
                <key>sourceSize</key>
                <string>{149,160}</string>
            </dict>
            <key>TXY6ZB_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,468},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>TXY6ZB_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,495},{54,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>TXY6ZC_tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,792},{231,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,230}}</string>
                <key>sourceSize</key>
                <string>{231,230}</string>
            </dict>
            <key>TXY6ZC_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,664},{31,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,71}}</string>
                <key>sourceSize</key>
                <string>{31,71}</string>
            </dict>
            <key>XBL6_yin.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{232,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,74}}</string>
                <key>sourceSize</key>
                <string>{232,74}</string>
            </dict>
            <key>XT_sj_fpp8_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,664},{88,84}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,67},{88,84}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>afdhjklvczxvfas_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{71,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,228}}</string>
                <key>sourceSize</key>
                <string>{71,228}</string>
            </dict>
            <key>bwl_datui_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,948},{71,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,113}}</string>
                <key>sourceSize</key>
                <string>{71,113}</string>
            </dict>
            <key>bwl_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{243,161}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,161}}</string>
                <key>sourceSize</key>
                <string>{243,163}</string>
            </dict>
            <key>bwl_shou_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,391},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>bwl_xiaotui_hou_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,473},{70,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,99}}</string>
                <key>sourceSize</key>
                <string>{70,99}</string>
            </dict>
            <key>bwl_xiaotui_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,958},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>cctx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,762},{216,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,69}}</string>
                <key>sourceSize</key>
                <string>{242,95}</string>
            </dict>
            <key>cctx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,811},{154,203}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,4},{154,203}}</string>
                <key>sourceSize</key>
                <string>{242,221}</string>
            </dict>
            <key>cctx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{118,186}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{118,186}}</string>
                <key>sourceSize</key>
                <string>{168,208}</string>
            </dict>
            <key>cctx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,197},{158,192}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{158,192}}</string>
                <key>sourceSize</key>
                <string>{190,206}</string>
            </dict>
            <key>cctx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{179,193}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{179,193}}</string>
                <key>sourceSize</key>
                <string>{203,219}</string>
            </dict>
            <key>cctx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,542},{213,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{213,194}}</string>
                <key>sourceSize</key>
                <string>{251,222}</string>
            </dict>
            <key>cctx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,762},{214,197}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{214,197}}</string>
                <key>sourceSize</key>
                <string>{242,217}</string>
            </dict>
            <key>cctx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,197},{178,190}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{178,190}}</string>
                <key>sourceSize</key>
                <string>{204,212}</string>
            </dict>
            <key>homeyx_sayFX_kuang1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{218,212}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{218,212}}</string>
                <key>sourceSize</key>
                <string>{236,226}</string>
            </dict>
            <key>homeyx_sayFX_xingfenb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,389},{158,151}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{158,151}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>jl_houtui_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,697},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>jl_houtui_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,495},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>jl_houtui_z_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,2},{101,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>jl_qiantui_y_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,485},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>jl_qiantui_y_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,153},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>jl_qiantui_z_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,468},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>jl_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{196,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,170}}</string>
                <key>sourceSize</key>
                <string>{196,170}</string>
            </dict>
            <key>jl_weiba_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,423},{117,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,137}}</string>
                <key>sourceSize</key>
                <string>{117,137}</string>
            </dict>
            <key>jl_weiba_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,468},{138,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,72}}</string>
                <key>sourceSize</key>
                <string>{138,72}</string>
            </dict>
            <key>jl_zhenti_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,542},{173,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,196}}</string>
                <key>sourceSize</key>
                <string>{173,196}</string>
            </dict>
            <key>jl_zhenti_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,767},{200,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,218}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>jl_zuiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,105},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>lgjb_pk_tx03_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,282}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{277,282}}</string>
                <key>sourceSize</key>
                <string>{317,294}</string>
            </dict>
            <key>rwl_xq_guang1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,238},{233,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{233,139}}</string>
                <key>sourceSize</key>
                <string>{245,139}</string>
            </dict>
            <key>rwl_xq_guang2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{274,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{274,158}}</string>
                <key>sourceSize</key>
                <string>{284,158}</string>
            </dict>
            <key>sj12_bf_xx_bgxc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,859},{85,128}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{85,128}}</string>
                <key>sourceSize</key>
                <string>{111,156}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang1_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,834},{185,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,153}}</string>
                <key>sourceSize</key>
                <string>{185,153}</string>
            </dict>
            <key>sjl_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{270,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,198}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>sjl_dt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,286},{263,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,203}}</string>
                <key>sourceSize</key>
                <string>{263,203}</string>
            </dict>
            <key>sjl_dt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,757},{199,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,196}}</string>
                <key>sourceSize</key>
                <string>{199,196}</string>
            </dict>
            <key>sjl_dt21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,222},{199,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,196}}</string>
                <key>sourceSize</key>
                <string>{199,196}</string>
            </dict>
            <key>sjl_gjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,495},{49,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,132}}</string>
                <key>sourceSize</key>
                <string>{49,132}</string>
            </dict>
            <key>sjl_hou_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,105},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>sjl_hou_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,958},{61,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,88}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
            <key>sjl_hou_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,958},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>sjl_hou_tt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,495},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>sjl_hou_tt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,485},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>sjl_qian_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,485},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>sjl_qian_tt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,468},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>sjl_zui_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,305},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>wanshengjie_ghost06_tongue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,948},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>wodegeguigui_mov.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,551},{239,239}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{239,239}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>yansan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,448},{128,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>yansan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,2},{136,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,101}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>yfge_tx_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,228},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,214}}</string>
                <key>sourceSize</key>
                <string>{220,214}</string>
            </dict>
            <key>yw_y_314989.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,546},{148,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,238}}</string>
                <key>sourceSize</key>
                <string>{148,238}</string>
            </dict>
            <key>yw_y_339206.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,249},{244,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,231}}</string>
                <key>sourceSize</key>
                <string>{244,231}</string>
            </dict>
            <key>yw_y_657769.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{168,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,234}}</string>
                <key>sourceSize</key>
                <string>{168,234}</string>
            </dict>
            <key>yw_y_775719.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,783},{178,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,234}}</string>
                <key>sourceSize</key>
                <string>{178,234}</string>
            </dict>
            <key>yw_y_91451.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,236},{215,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,230}}</string>
                <key>sourceSize</key>
                <string>{215,230}</string>
            </dict>
            <key>yw_y_933057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,542},{218,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{218,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3610d466fc1b7c2f849b4a85bee5a752:3/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios2.png</string>
        </dict>
    </dict>
</plist>
