<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>202002fhkl__875229_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,347},{24,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>202002fhkl_diying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,790},{232,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,66}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>202002fhkl_lujin1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{336,195}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{336,195}}</string>
                <key>sourceSize</key>
                <string>{358,195}</string>
            </dict>
            <key>202002fhkl_suo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,490},{91,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,110}}</string>
                <key>sourceSize</key>
                <string>{91,110}</string>
            </dict>
            <key>202002fhkl_xiaza_tub_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,328},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>TXY6CH_dabiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,744},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>TXY6CH_dabiL02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,679},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>TXY6CH_dabiL04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,744},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>TXY6CH_datuiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,679},{62,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>TXY6CH_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,314},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>TXY6CH_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,332},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>TXY6CH_shou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,347},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>TXY6CH_shou08.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,332},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>TXY6CH_shou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,744},{35,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,31}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>TXY6CH_shou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,332},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>TXY6CH_shou18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,583},{124,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{124,114}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>TXY6CH_toumaozib.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{348,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,97}}</string>
                <key>sourceSize</key>
                <string>{348,97}</string>
            </dict>
            <key>TXY6CH_xiaobiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,347},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>TXY6CH_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,332},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>TXY6CH_yanR05.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,332},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>TXY6CH_yanR06.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,347},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>TXY6CH_zui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,347},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>TXY6ZB_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,328},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>TXY6ZB_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,314},{54,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>XBL6_yin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,292},{232,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,74}}</string>
                <key>sourceSize</key>
                <string>{232,74}</string>
            </dict>
            <key>XBL_PK_shifaguangxian2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{322,328}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{322,328}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>bwl_datui_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,416},{72,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,111}}</string>
                <key>sourceSize</key>
                <string>{72,111}</string>
            </dict>
            <key>bwl_shou_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,347},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>bwl_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,267},{147,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,104}}</string>
                <key>sourceSize</key>
                <string>{147,104}</string>
            </dict>
            <key>bwl_xiaotui_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,332},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>bwl_yanjing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,332},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>cctx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,368},{154,203}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,4},{154,203}}</string>
                <key>sourceSize</key>
                <string>{242,221}</string>
            </dict>
            <key>cctx_quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,340},{91,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,20}}</string>
                <key>sourceSize</key>
                <string>{91,20}</string>
            </dict>
            <key>dan_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,370},{329,293}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,49},{329,293}}</string>
                <key>sourceSize</key>
                <string>{379,379}</string>
            </dict>
            <key>fdsaffdfsa_sj12_bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,347},{24,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gui_sjl.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,717},{301,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{301,198}}</string>
                <key>sourceSize</key>
                <string>{305,202}</string>
            </dict>
            <key>jl_guge_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,372},{343,190}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{343,190}}</string>
                <key>sourceSize</key>
                <string>{361,202}</string>
            </dict>
            <key>jl_houtui_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,314},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>jl_yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,328},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>jl_yanjing_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,328},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>jl_zhenti_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,524},{200,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,218}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>kcmf_TXYNA_shu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,347},{23,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,92}}</string>
                <key>sourceSize</key>
                <string>{23,94}</string>
            </dict>
            <key>lgjb_longwangbs_g4b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,370},{307,286}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{307,286}}</string>
                <key>sourceSize</key>
                <string>{349,344}</string>
            </dict>
            <key>lgjb_longwangbs_g5b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,370},{328,273}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,43},{328,273}}</string>
                <key>sourceSize</key>
                <string>{372,347}</string>
            </dict>
            <key>lgjb_longwangbs_g6b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{343,289}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{343,289}}</string>
                <key>sourceSize</key>
                <string>{373,333}</string>
            </dict>
            <key>lgjb_longwangbs_g7b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,375},{343,301}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{343,301}}</string>
                <key>sourceSize</key>
                <string>{373,333}</string>
            </dict>
            <key>lgjb_pk_tx02_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{237,297}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,297}}</string>
                <key>sourceSize</key>
                <string>{241,299}</string>
            </dict>
            <key>lgjb_pk_tx04_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,370},{311,274}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{311,274}}</string>
                <key>sourceSize</key>
                <string>{325,294}</string>
            </dict>
            <key>rwl_xq_guang3_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{324,175}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{324,175}}</string>
                <key>sourceSize</key>
                <string>{342,189}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang2_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,700},{260,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,316}}</string>
                <key>sourceSize</key>
                <string>{260,316}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang33_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,2},{309,310}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{309,310}}</string>
                <key>sourceSize</key>
                <string>{311,310}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang3_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,683},{309,310}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{309,310}}</string>
                <key>sourceSize</key>
                <string>{311,310}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang4_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,720},{302,318}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{302,318}}</string>
                <key>sourceSize</key>
                <string>{310,330}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang5_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,371}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{302,371}}</string>
                <key>sourceSize</key>
                <string>{308,373}</string>
            </dict>
            <key>sj12_bf_xxtx_shanguang6_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,701},{319,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{319,215}}</string>
                <key>sourceSize</key>
                <string>{321,217}</string>
            </dict>
            <key>sjl_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,752},{270,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,198}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>sjl_dt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,2},{263,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,203}}</string>
                <key>sourceSize</key>
                <string>{263,203}</string>
            </dict>
            <key>sjl_gu_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{288,232}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{288,232}}</string>
                <key>sourceSize</key>
                <string>{376,278}</string>
            </dict>
            <key>sjl_qian_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,314},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>sjl_qian_tt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,314},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>sjl_qian_tt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,292},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>wanshengjie_ghost06_tongue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,679},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>yansan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,709},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
            <key>yw_y_91451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,790},{215,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,230}}</string>
                <key>sourceSize</key>
                <string>{215,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f8c834ef5b63a559df7fa2a5394b9fa:2/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios1.png</string>
        </dict>
    </dict>
</plist>
