<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>202002fhkl_lujin2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{504,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,106}}</string>
                <key>sourceSize</key>
                <string>{504,106}</string>
            </dict>
            <key>202002fhkl_lujin3_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,600},{391,306}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,306}}</string>
                <key>sourceSize</key>
                <string>{407,306}</string>
            </dict>
            <key>202002fhkl_lujin_yinyinga_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{499,596}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{499,596}}</string>
                <key>sourceSize</key>
                <string>{501,600}</string>
            </dict>
            <key>202002fhkl_shitou_1_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,462},{136,170}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,61},{136,170}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_shitou_2_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,462},{136,170}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,61},{136,170}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_shitou_3_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,462},{136,170}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,59},{136,170}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_wutai01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{1038,310}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{1038,310}}</string>
                <key>sourceSize</key>
                <string>{1078,340}</string>
            </dict>
            <key>PK_shifaguangxian_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,600},{409,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,409}}</string>
                <key>sourceSize</key>
                <string>{409,409}</string>
            </dict>
            <key>TXY6CH_beidaiLS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,993},{28,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{28,59}</string>
            </dict>
            <key>TXY6CH_beidaiLX.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1011},{11,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,42}}</string>
                <key>sourceSize</key>
                <string>{11,42}</string>
            </dict>
            <key>TXY6CH_beidaiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,993},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>TXY6CH_meiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,240},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>TXY6CH_meiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,273},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>TXY6CH_shou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,462},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>TXY6CH_shou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,995},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>TXY6CH_shou15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,995},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>TXY6CH_shou17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,993},{38,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{38,28}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>TXY6CH_shou22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,995},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>TXY6CH_shou23.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,247},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>TXY6CH_toumaozia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,314},{348,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,208}}</string>
                <key>sourceSize</key>
                <string>{348,208}</string>
            </dict>
            <key>TXY6CH_xiaobiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,993},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>TXY6CH_yanL03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,104},{58,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,16}}</string>
                <key>sourceSize</key>
                <string>{58,16}</string>
            </dict>
            <key>TXY6CH_yanL06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,2},{53,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,17}}</string>
                <key>sourceSize</key>
                <string>{53,17}</string>
            </dict>
            <key>TXY6CH_yanR03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,164},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>TXY6CH_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1011},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
            <key>TXY6CH_zui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,993},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>TXY6ZB_beibao_dakai_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,899},{149,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>TXY6ZB_beibao_dakai_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,737},{149,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,160}}</string>
                <key>sourceSize</key>
                <string>{149,160}</string>
            </dict>
            <key>TXY6ZB_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,280},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>TXY6ZC_liuhai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>TXY6ZC_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,321},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>TXY6ZC_yan_fay.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,180},{25,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,65}}</string>
                <key>sourceSize</key>
                <string>{25,65}</string>
            </dict>
            <key>XT_sj_fpp8_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,462},{88,84}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,67},{88,84}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>afdhjklvczxvfas_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,664},{71,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,228}}</string>
                <key>sourceSize</key>
                <string>{71,228}</string>
            </dict>
            <key>bwl_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,995},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>bwl_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,508},{140,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>bwl_yanjing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,993},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>cctx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,600},{206,143}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{206,143}}</string>
                <key>sourceSize</key>
                <string>{242,163}</string>
            </dict>
            <key>cctx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,314},{146,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{146,189}}</string>
                <key>sourceSize</key>
                <string>{172,203}</string>
            </dict>
            <key>cctx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,314},{146,143}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{146,143}}</string>
                <key>sourceSize</key>
                <string>{170,167}</string>
            </dict>
            <key>gui_bwl.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{414,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{414,312}}</string>
                <key>sourceSize</key>
                <string>{418,316}</string>
            </dict>
            <key>gui_jl.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,600},{393,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{393,162}}</string>
                <key>sourceSize</key>
                <string>{397,166}</string>
            </dict>
            <key>jl_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,294},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>jl_qiantui_z_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,97},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>jl_zuiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,552},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>kgy_jb_tx_hecehng_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,600},{409,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,409}}</string>
                <key>sourceSize</key>
                <string>{409,409}</string>
            </dict>
            <key>kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>kong_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>lgjb_kong_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>lgjb_pk_tx03_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,321},{277,282}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{277,282}}</string>
                <key>sourceSize</key>
                <string>{317,294}</string>
            </dict>
            <key>lgjb_pk_tx05_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,745},{275,285}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{275,285}}</string>
                <key>sourceSize</key>
                <string>{327,307}</string>
            </dict>
            <key>lgjb_pk_tx06_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,321},{277,286}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{277,286}}</string>
                <key>sourceSize</key>
                <string>{297,300}</string>
            </dict>
            <key>menu_egg_ef01_li1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1011},{10,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>menu_egg_guang_sjbx_xingguangli2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>sj12_bf_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,995},{24,25}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{24,25}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sj12_bf_shanshan_tx_tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-24.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sjl_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,225},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>sjl_gjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,180},{49,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,132}}</string>
                <key>sourceSize</key>
                <string>{49,132}</string>
            </dict>
            <key>sjl_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,204},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>sjl_yanjing_mov1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,57},{45,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,17}}</string>
                <key>sourceSize</key>
                <string>{45,17}</string>
            </dict>
            <key>xt_rsxz_tx5a_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{298,458}}</string>
                <key>offset</key>
                <string>{-75,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,306},{298,458}}</string>
                <key>sourceSize</key>
                <string>{764,764}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f8c834ef5b63a559df7fa2a5394b9fa:1/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios0.png</string>
        </dict>
    </dict>
</plist>
