<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>200125wf_hongbao_wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,545},{224,151}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{224,151}}</string>
                <key>sourceSize</key>
                <string>{242,181}</string>
            </dict>
            <key>20191128heisedi_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{218,220}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{218,220}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>202002fhkl_547268_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,389},{112,144}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{112,144}}</string>
                <key>sourceSize</key>
                <string>{162,226}</string>
            </dict>
            <key>202002fhkl_diying.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,480},{232,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,66}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>202002fhkl_logo1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,242},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_logo2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_logo3_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,240},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_lujin_wutai02a_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,535},{189,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,135}}</string>
                <key>sourceSize</key>
                <string>{189,135}</string>
            </dict>
            <key>202002fhkl_shitou_1_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,2},{136,170}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,61},{136,170}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_shitou_2_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,140},{136,170}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,61},{136,170}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>202002fhkl_shitou_3_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,748},{136,170}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{136,170}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>TXY6CH_dabiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,978},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>TXY6CH_dabiL04.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,480},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>TXY6CH_dabiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,978},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>TXY6CH_dabiR01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,814},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>TXY6CH_liuhai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,252},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>TXY6CH_liuhai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,942},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>TXY6CH_shou07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,513},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>TXY6CH_shou08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,339},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>TXY6CH_shou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,513},{35,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,31}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>TXY6CH_shou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,513},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>TXY6CH_shou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,513},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>TXY6CH_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,550},{245,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,234}}</string>
                <key>sourceSize</key>
                <string>{245,234}</string>
            </dict>
            <key>TXY6CH_tun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,444},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>TXY6CH_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,513},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>TXY6CH_yanL05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,339},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,65}}</string>
                <key>sourceSize</key>
                <string>{46,65}</string>
            </dict>
            <key>TXY6ZB_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,238},{149,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,103}}</string>
                <key>sourceSize</key>
                <string>{149,103}</string>
            </dict>
            <key>TXY6ZB_beibao_dakai_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,423},{149,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>TXY6ZB_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,444},{93,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,104}}</string>
                <key>sourceSize</key>
                <string>{93,104}</string>
            </dict>
            <key>TXY6ZC_liuhai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,924},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>TXY6ZC_tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,791},{231,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,230}}</string>
                <key>sourceSize</key>
                <string>{231,230}</string>
            </dict>
            <key>TXY6ZC_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,480},{31,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,71}}</string>
                <key>sourceSize</key>
                <string>{31,71}</string>
            </dict>
            <key>XBL6_yin.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,784},{232,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,74}}</string>
                <key>sourceSize</key>
                <string>{232,74}</string>
            </dict>
            <key>XT_sj_fpp5_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,932},{90,86}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,51},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>XT_sj_fpp6_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,932},{90,86}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>XT_sj_fpp7_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,150},{90,86}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>XT_sj_fpp8_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,662},{88,84}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{88,84}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>afdhjklvczxvfas_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,546},{71,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,228}}</string>
                <key>sourceSize</key>
                <string>{71,228}</string>
            </dict>
            <key>bwl_shou_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,991},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>bwl_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,2},{147,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,104}}</string>
                <key>sourceSize</key>
                <string>{147,104}</string>
            </dict>
            <key>bwl_tou_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,478},{121,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,65}}</string>
                <key>sourceSize</key>
                <string>{121,65}</string>
            </dict>
            <key>bwl_xiaotui_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,513},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>bwl_xiaotui_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,991},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>bwl_xiaotui_q_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,478},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>bwl_yanjing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,991},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>cctx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,545},{216,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,69}}</string>
                <key>sourceSize</key>
                <string>{242,95}</string>
            </dict>
            <key>cctx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{206,143}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{206,143}}</string>
                <key>sourceSize</key>
                <string>{242,163}</string>
            </dict>
            <key>cctx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,539},{154,203}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,4},{154,203}}</string>
                <key>sourceSize</key>
                <string>{242,221}</string>
            </dict>
            <key>cctx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,535},{118,186}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{118,186}}</string>
                <key>sourceSize</key>
                <string>{168,208}</string>
            </dict>
            <key>cctx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{146,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{146,189}}</string>
                <key>sourceSize</key>
                <string>{172,203}</string>
            </dict>
            <key>cctx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,538},{158,192}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{158,192}}</string>
                <key>sourceSize</key>
                <string>{190,206}</string>
            </dict>
            <key>cctx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,737},{179,193}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{179,193}}</string>
                <key>sourceSize</key>
                <string>{203,219}</string>
            </dict>
            <key>cctx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,763},{213,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{213,194}}</string>
                <key>sourceSize</key>
                <string>{251,222}</string>
            </dict>
            <key>cctx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,732},{178,190}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{178,190}}</string>
                <key>sourceSize</key>
                <string>{204,212}</string>
            </dict>
            <key>dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,797},{224,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,242}}</string>
                <key>sourceSize</key>
                <string>{224,242}</string>
            </dict>
            <key>gqj_dhk_yun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,353},{180,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,130}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
            <key>gqj_dhk_yun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,353},{181,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,136}}</string>
                <key>sourceSize</key>
                <string>{181,136}</string>
            </dict>
            <key>guangxiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{263,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{263,139}}</string>
                <key>sourceSize</key>
                <string>{289,141}</string>
            </dict>
            <key>homeyx_sayFX_kuang1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{218,212}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{218,212}}</string>
                <key>sourceSize</key>
                <string>{236,226}</string>
            </dict>
            <key>jl_houtui_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,274},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>jl_houtui_z_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,444},{101,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>jl_qiantui_y_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,203},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>jl_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,539},{196,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,170}}</string>
                <key>sourceSize</key>
                <string>{196,170}</string>
            </dict>
            <key>jl_weiba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,942},{128,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,78}}</string>
                <key>sourceSize</key>
                <string>{128,78}</string>
            </dict>
            <key>jl_weiba_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,278},{138,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,72}}</string>
                <key>sourceSize</key>
                <string>{138,72}</string>
            </dict>
            <key>jl_yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,978},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>jl_yanjing_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,978},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>jl_zhenti_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,744},{173,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,196}}</string>
                <key>sourceSize</key>
                <string>{173,196}</string>
            </dict>
            <key>jl_zhenti_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,771},{200,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,218}}</string>
                <key>sourceSize</key>
                <string>{200,218}</string>
            </dict>
            <key>rtoptfy111111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,151},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>rwl_xq_guang2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{274,158}}</string>
                <key>sourceSize</key>
                <string>{284,158}</string>
            </dict>
            <key>sjl_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{270,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,198}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>sjl_dt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{263,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,203}}</string>
                <key>sourceSize</key>
                <string>{263,203}</string>
            </dict>
            <key>sjl_dt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,222},{199,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,196}}</string>
                <key>sourceSize</key>
                <string>{199,196}</string>
            </dict>
            <key>sjl_dt21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,2},{199,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,196}}</string>
                <key>sourceSize</key>
                <string>{199,196}</string>
            </dict>
            <key>sjl_hou_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,150},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>sjl_hou_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,748},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>sjl_qian_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,920},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>sjl_wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,492},{112,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,168}}</string>
                <key>sourceSize</key>
                <string>{112,168}</string>
            </dict>
            <key>sjl_yanjing_mov1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,372},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>sjl_yanjing_mov1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,513},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>sjl_yanjing_mov1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,151},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>sjl_yanjing_mov2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,324},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>sjl_zui_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,464},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>wodegeguigui_mov.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,550},{239,239}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{239,239}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>xt_rsxz_tx5a_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,203},{148,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,306},{148,148}}</string>
                <key>sourceSize</key>
                <string>{764,764}</string>
            </dict>
            <key>yansan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,924},{128,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>yansan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,389},{135,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,101}}</string>
                <key>sourceSize</key>
                <string>{135,101}</string>
            </dict>
            <key>yfge_tx5_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,238},{148,224}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,76},{148,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yfge_tx_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,224},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,214}}</string>
                <key>sourceSize</key>
                <string>{220,214}</string>
            </dict>
            <key>yw_y_314989.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,238}}</string>
                <key>sourceSize</key>
                <string>{148,238}</string>
            </dict>
            <key>yw_y_339206.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,267},{244,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,231}}</string>
                <key>sourceSize</key>
                <string>{244,231}</string>
            </dict>
            <key>yw_y_657769.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,548},{168,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,234}}</string>
                <key>sourceSize</key>
                <string>{168,234}</string>
            </dict>
            <key>yw_y_775719.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{178,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,234}}</string>
                <key>sourceSize</key>
                <string>{178,234}</string>
            </dict>
            <key>yw_y_91451.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,784},{215,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,230}}</string>
                <key>sourceSize</key>
                <string>{215,230}</string>
            </dict>
            <key>yw_y_933057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,545},{218,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{218,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43504faa02a7609382da6427b86fe01:3/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios2.png</string>
        </dict>
    </dict>
</plist>
