<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>202002fhkl__875229_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,347},{24,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>202002fhkl_duihou_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,640},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>202002fhkl_lujin1_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,373},{336,195}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{336,195}}</string>
                <key>sourceSize</key>
                <string>{358,195}</string>
            </dict>
            <key>202002fhkl_shitou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,813},{113,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,149}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>202002fhkl_wutai01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,328},{1038,310}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{1038,310}}</string>
                <key>sourceSize</key>
                <string>{1078,340}</string>
            </dict>
            <key>TXY6CH_beidaiLS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,640},{28,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{28,59}</string>
            </dict>
            <key>TXY6CH_datuiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,640},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>TXY6CH_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,980},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>TXY6CH_shou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,347},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>TXY6CH_shou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,347},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>TXY6CH_shou15.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,347},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>TXY6CH_shou17.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,332},{38,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{38,28}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>TXY6CH_shou22.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,332},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>TXY6CH_toumaozia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{348,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,208}}</string>
                <key>sourceSize</key>
                <string>{348,208}</string>
            </dict>
            <key>TXY6CH_xiaobiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,347},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>TXY6CH_yanL.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,328},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>TXY6CH_yanL06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,305},{53,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,17}}</string>
                <key>sourceSize</key>
                <string>{53,17}</string>
            </dict>
            <key>TXY6CH_yanL10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,980},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>TXY6CH_zui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,347},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>TXY6CH_zui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,332},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>TXY6ZB_beibao_dakai_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,147},{149,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,160}}</string>
                <key>sourceSize</key>
                <string>{149,160}</string>
            </dict>
            <key>TXY6ZB_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,980},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>TXY6ZB_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,640},{54,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>TXY6ZB_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,332},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>TXY6ZB_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,332},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>TXY6ZC_yan_fay.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,347},{25,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,65}}</string>
                <key>sourceSize</key>
                <string>{25,65}</string>
            </dict>
            <key>XBL_PK_shifaguangxian2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{322,328}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{322,328}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>bwl_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,297},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>bwl_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,640},{140,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>bwl_yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,332},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>bwl_yanjing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,297},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>cctx_guanzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,640},{56,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,101}}</string>
                <key>sourceSize</key>
                <string>{56,103}</string>
            </dict>
            <key>dan_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,2},{271,293}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{271,293}}</string>
                <key>sourceSize</key>
                <string>{379,379}</string>
            </dict>
            <key>fdsaffdfsa_sj12_bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,347},{24,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>gui_sjl.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,2},{301,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{301,198}}</string>
                <key>sourceSize</key>
                <string>{305,202}</string>
            </dict>
            <key>jl_houtui_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,640},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>jl_houtui_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,640},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>jl_qiantui_y_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,640},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>jl_yanjing_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,964},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>lgjb_longwangbs_g5b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,372},{328,273}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,43},{328,273}}</string>
                <key>sourceSize</key>
                <string>{372,347}</string>
            </dict>
            <key>lgjb_longwangbs_g6b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{343,289}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{343,289}}</string>
                <key>sourceSize</key>
                <string>{373,333}</string>
            </dict>
            <key>lgjb_longwangbs_g7b_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,375},{343,301}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{343,301}}</string>
                <key>sourceSize</key>
                <string>{373,333}</string>
            </dict>
            <key>lgjb_pk_tx01_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{162,143}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{162,143}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>lgjb_pk_tx02_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{237,297}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,297}}</string>
                <key>sourceSize</key>
                <string>{241,299}</string>
            </dict>
            <key>lgjb_pk_tx03_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,696},{277,282}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{277,282}}</string>
                <key>sourceSize</key>
                <string>{317,294}</string>
            </dict>
            <key>lgjb_pk_tx04_twxm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,711},{311,274}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{311,274}}</string>
                <key>sourceSize</key>
                <string>{325,294}</string>
            </dict>
            <key>menu_egg_ef01_li2_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,640},{59,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>rwl_xq_guang3_twxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{324,175}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{324,175}}</string>
                <key>sourceSize</key>
                <string>{342,189}</string>
            </dict>
            <key>sj12_bf_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,347},{24,25}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{24,25}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>sj12_bf_guangqiu_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,332},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>sj12_bf_shanshan_tx_tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,640},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang2_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,701},{260,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,316}}</string>
                <key>sourceSize</key>
                <string>{260,316}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang33_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,699},{309,310}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{309,310}}</string>
                <key>sourceSize</key>
                <string>{311,310}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang3_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{309,310}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{309,310}}</string>
                <key>sourceSize</key>
                <string>{311,310}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang4_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,720},{302,318}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{302,318}}</string>
                <key>sourceSize</key>
                <string>{310,330}</string>
            </dict>
            <key>sj12_bf_xxtx__shanguang5_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,371}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{302,371}}</string>
                <key>sourceSize</key>
                <string>{308,373}</string>
            </dict>
            <key>sj12_bf_xxtx_shanguang6_bgxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,702},{319,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{319,215}}</string>
                <key>sourceSize</key>
                <string>{321,217}</string>
            </dict>
            <key>sjl_gjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,640},{49,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,132}}</string>
                <key>sourceSize</key>
                <string>{49,132}</string>
            </dict>
            <key>sjl_gjjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,980},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{42,67}</string>
            </dict>
            <key>sjl_hou_tt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,980},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>sjl_hou_tt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,332},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>sjl_qian_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,640},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>sjl_qian_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,640},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>sjl_yanjing_mov1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,305},{45,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,17}}</string>
                <key>sourceSize</key>
                <string>{45,17}</string>
            </dict>
            <key>wanshengjie_ghost06_tongue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,964},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>yansan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,732},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>202002fhkl_zjm_ios1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1898fcf26454e8806dd55539ebc7245c:2/4$</string>
            <key>textureFileName</key>
            <string>202002fhkl_zjm_ios1.png</string>
        </dict>
    </dict>
</plist>
